# --- Python & Virtual Envs ---
__pycache__/
*.py[cod]
venv/
.env

# --- OS Files (Mac/Windows) ---
.DS_Store
Thumbs.db

# --- IDE Settings ---
.vscode/
.idea/

# --- DVC Managed Data (Block Git from seeing these) ---
data/raw/
data/processed/
data/split/

# --- Model Artifacts (Managed by DVC) ---
models/*.pkl
models/*.json
models/*.h5
