# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
venv/
env/


# OS

.DS_Store
Thumbs.db

# Editors / IDE

.vscode/
.idea/

# DVC internal

.dvc/cache/


# Data files 
data/**/*.csv
data/**/*.parquet
data/**/*.npy


# ML artifacts 

models/
metrics/
artifacts/
reports/


# Logs

*.log


# Jupyter

.ipynb_checkpoints/
