# --- Python Basics ---
__pycache__/
*.pyc
*.pyo
*.pyd

# --- Virtual Environments ---
venv/
env/
.venv/

# --- Environment Variables (Security) ---
.env
.env.local

# --- IDE Settings (VS Code & PyCharm) ---
.vscode/
.idea/

# --- Jupyter Notebooks ---
.ipynb_checkpoints/

# --- macOS Specific (Garbage files) ---
.DS_Store

# --- DVC & Data ---

*.zip
*.tar.gz
*.rar

# --- Model Artifacts ---

*.pkl
*.h5
*.joblib